<p #templateRef appBackgroundDirective>Root component</p>
<button routerLink="dashboard">Dashboard</button>
<button routerLink="admin-dashboard">Dashboard</button>

<app-admin-dashboard [dataToChild]="dataToChild" (dataToParent)="dataToParent($event)"></app-admin-dashboard>
<app-dashboard></app-dashboard>
<a [ngStyle]="anchorStyle">Link</a>
<a [href]="hrefValue">Dynamic Link</a>

<ul>
  <li *ngFor="let item of list">{{item}}</li>
</ul>

<p *ngIf="canRenderParagraph">Element</p>
<p appBackgroundDirective>Custom Directive</p>

<div *appCustomStructuralDirective="false">
  <p>Custom structural directive</p>
</div>
{{dataFromChild}}
<!-- <a href="/dashboard">Dashboard link</a> -->
<router-outlet></router-outlet>