<p>First para</p>

<!-- interpolation -->
{{title}}
{{second}}
{{third}}

<!-- <p [disabled]="isButtonDisabled">Jagan</p> -->
<p [ngClass]="paragraphClass">Para</p>
<button id="button" [disabled]="isButtonDisabled">Submit</button>
<!-- <button disabled>Submit</button> -->

<!-- event -->
<button (click)="captureClick()">Click</button>

<input [value]="inputValueSecond" type="text" (keyup)="inputValueKeydown($event)" />
{{inputValueSecond}}
<input type="text" [(ngModel)]="inputValue" />
{{inputValue}}